## Test Whether GPU is workng

In [ ]:
import tensorflow as tf
tf.test.gpu_device_name()

'/device:GPU:0'

In [ ]:
from tensorflow.python.client import device_lib
device_lib.list_local_devices()

[name: "/device:CPU:0"
 device_type: "CPU"
 memory_limit: 268435456
 locality {
 }
 incarnation: 15889408262834316005
 xla_global_id: -1, name: "/device:GPU:0"
 device_type: "GPU"
 memory_limit: 14444920832
 locality {
   bus_id: 1
   links {
   }
 }
 incarnation: 10635884471282797777
 physical_device_desc: "device: 0, name: Tesla T4, pci bus id: 0000:00:04.0, compute capability: 7.5"
 xla_global_id: 416903419]

In [ ]:
!cat /proc/cpuinfo

processor	: 0
vendor_id	: GenuineIntel
cpu family	: 6
model		: 63
model name	: Intel(R) Xeon(R) CPU @ 2.30GHz
stepping	: 0
microcode	: 0x1
cpu MHz		: 2299.998
cache size	: 46080 KB
physical id	: 0
siblings	: 2
core id		: 0
cpu cores	: 1
apicid		: 0
initial apicid	: 0
fpu		: yes
fpu_exception	: yes
cpuid level	: 13
wp		: yes
flags		: fpu vme de pse tsc msr pae mce cx8 apic sep mtrr pge mca cmov pat pse36 clflush mmx fxsr sse sse2 ss ht syscall nx pdpe1gb rdtscp lm constant_tsc rep_good nopl xtopology nonstop_tsc cpuid tsc_known_freq pni pclmulqdq ssse3 fma cx16 pcid sse4_1 sse4_2 x2apic movbe popcnt aes xsave avx f16c rdrand hypervisor lahf_lm abm invpcid_single ssbd ibrs ibpb stibp fsgsbase tsc_adjust bmi1 avx2 smep bmi2 erms invpcid xsaveopt arat md_clear arch_capabilities
bugs		: cpu_meltdown spectre_v1 spectre_v2 spec_store_bypass l1tf mds swapgs
bogomips	: 4599.99
clflush size	: 64
cache_alignment	: 64
address sizes	: 46 bits physical, 48 bits virtual
power management:

processor	: 1
vendor_id	: GenuineIntel
cpu family	: 6
model		: 63
model name	: Intel(R) Xeon(R) CPU @ 2.30GHz
stepping	: 0
microcode	: 0x1
cpu MHz		: 2299.998
cache size	: 46080 KB
physical id	: 0
siblings	: 2
core id		: 0
cpu cores	: 1
apicid		: 1
initial apicid	: 1
fpu		: yes
fpu_exception	: yes
cpuid level	: 13
wp		: yes
flags		: fpu vme de pse tsc msr pae mce cx8 apic sep mtrr pge mca cmov pat pse36 clflush mmx fxsr sse sse2 ss ht syscall nx pdpe1gb rdtscp lm constant_tsc rep_good nopl xtopology nonstop_tsc cpuid tsc_known_freq pni pclmulqdq ssse3 fma cx16 pcid sse4_1 sse4_2 x2apic movbe popcnt aes xsave avx f16c rdrand hypervisor lahf_lm abm invpcid_single ssbd ibrs ibpb stibp fsgsbase tsc_adjust bmi1 avx2 smep bmi2 erms invpcid xsaveopt arat md_clear arch_capabilities
bugs		: cpu_meltdown spectre_v1 spectre_v2 spec_store_bypass l1tf mds swapgs
bogomips	: 4599.99
clflush size	: 64
cache_alignment	: 64
address sizes	: 46 bits physical, 48 bits virtual
power management:

In [14]:
%tensorflow_version 2.x
import tensorflow as tf
device_name = tf.test.gpu_device_name()
if device_name != '/device:GPU:0':
  raise SystemError('GPU device not found')
print('Found GPU at: {}'.format(device_name))

Found GPU at: /device:GPU:0

In [15]:
%tensorflow_version 2.x
import tensorflow as tf
import timeit

device_name = tf.test.gpu_device_name()
if device_name != '/device:GPU:0':
  print(
      '\n\nThis error most likely means that this notebook is not '
      'configured to use a GPU.  Change this in Notebook Settings via the '
      'command palette (cmd/ctrl-shift-P) or the Edit menu.\n\n')
  raise SystemError('GPU device not found')

def cpu():
  with tf.device('/cpu:0'):
    random_image_cpu = tf.random.normal((100, 100, 100, 3))
    net_cpu = tf.keras.layers.Conv2D(32, 7)(random_image_cpu)
    return tf.math.reduce_sum(net_cpu)

def gpu():
  with tf.device('/device:GPU:0'):
    random_image_gpu = tf.random.normal((100, 100, 100, 3))
    net_gpu = tf.keras.layers.Conv2D(32, 7)(random_image_gpu)
    return tf.math.reduce_sum(net_gpu)
  
# We run each op once to warm up; see: https://stackoverflow.com/a/45067900
cpu()
gpu()

# Run the op several times.
print('Time (s) to convolve 32x7x7x3 filter over random 100x100x100x3 images '
      '(batch x height x width x channel). Sum of ten runs.')
print('CPU (s):')
cpu_time = timeit.timeit('cpu()', number=10, setup="from __main__ import cpu")
print(cpu_time)
print('GPU (s):')
gpu_time = timeit.timeit('gpu()', number=10, setup="from __main__ import gpu")
print(gpu_time)
print('GPU speedup over CPU: {}x'.format(int(cpu_time/gpu_time)))

Time (s) to convolve 32x7x7x3 filter over random 100x100x100x3 images (batch x height x width x channel). Sum of ten runs.
CPU (s):
2.9618022130000554
GPU (s):
0.04272893400002431
GPU speedup over CPU: 69x

In [ ]:
import pandas as pd
import numpy as np
dataset = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Churn_Modelling.csv")

In [ ]:
dataset

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [ ]:
X = dataset.iloc[:, 3:13]
y = dataset.iloc[:, 13]
X

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,France,Female,42,2,0.00,1,1,1,101348.88
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58
2,502,France,Female,42,8,159660.80,3,1,0,113931.57
3,699,France,Female,39,1,0.00,2,0,0,93826.63
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10
...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77
9997,709,France,Female,36,7,0.00,1,0,1,42085.58
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78

In [ ]:
#Create dummy variables
geography=pd.get_dummies(X["Geography"],drop_first=True)
gender=pd.get_dummies(X['Gender'],drop_first=True)

## Concatenate the Data Frames

X=pd.concat([X,geography,gender],axis=1)

## Drop Unnecessary columns
X=X.drop(['Geography','Gender'],axis=1)

In [ ]:
# Splitting the dataset into the Training set and Test set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [ ]:

# Feature Scaling
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [ ]:
# Part 2 - Now let's make the ANN!

# Importing the Keras libraries and packages
import keras
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import LeakyReLU,PReLU,ELU
from keras.layers import Dropout

In [ ]:

# Initialising the ANN
classifier = Sequential()

# Adding the input layer and the first hidden layer
classifier.add(Dense(units = 6, kernel_initializer = 'he_uniform',activation='relu', input_dim = 11))

# Adding the second hidden layer
classifier.add(Dense(units = 6, kernel_initializer = 'he_uniform',activation='relu'))
# Adding the output layer
classifier.add(Dense(units = 1, kernel_initializer = 'glorot_uniform', activation = 'sigmoid'))

# Compiling the ANN
classifier.compile(optimizer = 'Adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

In [16]:
model_history=classifier.fit(X_train, y_train,validation_split=0.33, batch_size = 10,epochs = 100)

Epoch 1/100
536/536 [==============================] - 6s 5ms/step - loss: 0.6517 - accuracy: 0.6449 - val_loss: 0.5004 - val_accuracy: 0.7880
Epoch 2/100
536/536 [==============================] - 2s 4ms/step - loss: 0.4719 - accuracy: 0.7953 - val_loss: 0.4687 - val_accuracy: 0.7986
Epoch 3/100
536/536 [==============================] - 2s 4ms/step - loss: 0.4499 - accuracy: 0.8018 - val_loss: 0.4553 - val_accuracy: 0.8016
Epoch 4/100
536/536 [==============================] - 2s 4ms/step - loss: 0.4370 - accuracy: 0.8052 - val_loss: 0.4445 - val_accuracy: 0.7993
Epoch 5/100
536/536 [==============================] - 2s 4ms/step - loss: 0.4279 - accuracy: 0.8087 - val_loss: 0.4361 - val_accuracy: 0.7989
Epoch 6/100
536/536 [==============================] - 2s 4ms/step - loss: 0.4179 - accuracy: 0.8104 - val_loss: 0.4261 - val_accuracy: 0.8016
Epoch 7/100
536/536 [==============================] - 2s 4ms/step - loss: 0.4057 - accuracy: 0.8155 - val_loss: 0.4128 - val_accuracy: 0.8084
Epoch 8/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3925 - accuracy: 0.8188 - val_loss: 0.4021 - val_accuracy: 0.8137
Epoch 9/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3828 - accuracy: 0.8201 - val_loss: 0.3936 - val_accuracy: 0.8156
Epoch 10/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3763 - accuracy: 0.8227 - val_loss: 0.3899 - val_accuracy: 0.8156
Epoch 11/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3714 - accuracy: 0.8231 - val_loss: 0.3859 - val_accuracy: 0.8167
Epoch 12/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3676 - accuracy: 0.8240 - val_loss: 0.3836 - val_accuracy: 0.8175
Epoch 13/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3639 - accuracy: 0.8242 - val_loss: 0.3815 - val_accuracy: 0.8186
Epoch 14/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3614 - accuracy: 0.8341 - val_loss: 0.3796 - val_accuracy: 0.8391
Epoch 15/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3594 - accuracy: 0.8500 - val_loss: 0.3785 - val_accuracy: 0.8410
Epoch 16/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3573 - accuracy: 0.8505 - val_loss: 0.3777 - val_accuracy: 0.8432
Epoch 17/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3557 - accuracy: 0.8531 - val_loss: 0.3767 - val_accuracy: 0.8436
Epoch 18/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3537 - accuracy: 0.8535 - val_loss: 0.3762 - val_accuracy: 0.8451
Epoch 19/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3525 - accuracy: 0.8522 - val_loss: 0.3747 - val_accuracy: 0.8436
Epoch 20/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3511 - accuracy: 0.8541 - val_loss: 0.3752 - val_accuracy: 0.8429
Epoch 21/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3501 - accuracy: 0.8558 - val_loss: 0.3746 - val_accuracy: 0.8406
Epoch 22/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3492 - accuracy: 0.8558 - val_loss: 0.3741 - val_accuracy: 0.8432
Epoch 23/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3480 - accuracy: 0.8580 - val_loss: 0.3737 - val_accuracy: 0.8429
Epoch 24/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3471 - accuracy: 0.8591 - val_loss: 0.3730 - val_accuracy: 0.8444
Epoch 25/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3463 - accuracy: 0.8591 - val_loss: 0.3714 - val_accuracy: 0.8448
Epoch 26/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3456 - accuracy: 0.8595 - val_loss: 0.3719 - val_accuracy: 0.8459
Epoch 27/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3445 - accuracy: 0.8602 - val_loss: 0.3716 - val_accuracy: 0.8455
Epoch 28/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3440 - accuracy: 0.8591 - val_loss: 0.3713 - val_accuracy: 0.8478
Epoch 29/100
536/536 [==============================] - 3s 5ms/step - loss: 0.3428 - accuracy: 0.8623 - val_loss: 0.3688 - val_accuracy: 0.8470
Epoch 30/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3426 - accuracy: 0.8628 - val_loss: 0.3676 - val_accuracy: 0.8482
Epoch 31/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3417 - accuracy: 0.8602 - val_loss: 0.3668 - val_accuracy: 0.8497
Epoch 32/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3418 - accuracy: 0.8608 - val_loss: 0.3670 - val_accuracy: 0.8501
Epoch 33/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3410 - accuracy: 0.8619 - val_loss: 0.3656 - val_accuracy: 0.8508
Epoch 34/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3401 - accuracy: 0.8615 - val_loss: 0.3660 - val_accuracy: 0.8493
Epoch 35/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3400 - accuracy: 0.8621 - val_loss: 0.3655 - val_accuracy: 0.8508
Epoch 36/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3392 - accuracy: 0.8630 - val_loss: 0.3643 - val_accuracy: 0.8497
Epoch 37/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3389 - accuracy: 0.8623 - val_loss: 0.3634 - val_accuracy: 0.8519
Epoch 38/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3387 - accuracy: 0.8617 - val_loss: 0.3622 - val_accuracy: 0.8535
Epoch 39/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3383 - accuracy: 0.8627 - val_loss: 0.3623 - val_accuracy: 0.8531
Epoch 40/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3380 - accuracy: 0.8612 - val_loss: 0.3618 - val_accuracy: 0.8531
Epoch 41/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3372 - accuracy: 0.8640 - val_loss: 0.3620 - val_accuracy: 0.8516
Epoch 42/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3365 - accuracy: 0.8640 - val_loss: 0.3624 - val_accuracy: 0.8535
Epoch 43/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3360 - accuracy: 0.8640 - val_loss: 0.3601 - val_accuracy: 0.8519
Epoch 44/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3356 - accuracy: 0.8636 - val_loss: 0.3613 - val_accuracy: 0.8531
Epoch 45/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3353 - accuracy: 0.8632 - val_loss: 0.3604 - val_accuracy: 0.8527
Epoch 46/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3348 - accuracy: 0.8640 - val_loss: 0.3608 - val_accuracy: 0.8512
Epoch 47/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3342 - accuracy: 0.8645 - val_loss: 0.3587 - val_accuracy: 0.8531
Epoch 48/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3340 - accuracy: 0.8642 - val_loss: 0.3590 - val_accuracy: 0.8542
Epoch 49/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3332 - accuracy: 0.8632 - val_loss: 0.3582 - val_accuracy: 0.8557
Epoch 50/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3336 - accuracy: 0.8638 - val_loss: 0.3585 - val_accuracy: 0.8550
Epoch 51/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3335 - accuracy: 0.8640 - val_loss: 0.3584 - val_accuracy: 0.8535
Epoch 52/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3329 - accuracy: 0.8643 - val_loss: 0.3580 - val_accuracy: 0.8554
Epoch 53/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3325 - accuracy: 0.8643 - val_loss: 0.3586 - val_accuracy: 0.8527
Epoch 54/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3322 - accuracy: 0.8634 - val_loss: 0.3561 - val_accuracy: 0.8557
Epoch 55/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3318 - accuracy: 0.8642 - val_loss: 0.3572 - val_accuracy: 0.8546
Epoch 56/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3324 - accuracy: 0.8645 - val_loss: 0.3571 - val_accuracy: 0.8557
Epoch 57/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3318 - accuracy: 0.8651 - val_loss: 0.3564 - val_accuracy: 0.8565
Epoch 58/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3318 - accuracy: 0.8642 - val_loss: 0.3581 - val_accuracy: 0.8538
Epoch 59/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3316 - accuracy: 0.8636 - val_loss: 0.3567 - val_accuracy: 0.8554
Epoch 60/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3314 - accuracy: 0.8634 - val_loss: 0.3569 - val_accuracy: 0.8573
Epoch 61/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3311 - accuracy: 0.8653 - val_loss: 0.3561 - val_accuracy: 0.8580
Epoch 62/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3313 - accuracy: 0.8653 - val_loss: 0.3559 - val_accuracy: 0.8554
Epoch 63/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3311 - accuracy: 0.8623 - val_loss: 0.3556 - val_accuracy: 0.8557
Epoch 64/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3311 - accuracy: 0.8647 - val_loss: 0.3597 - val_accuracy: 0.8561
Epoch 65/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3311 - accuracy: 0.8656 - val_loss: 0.3576 - val_accuracy: 0.8554
Epoch 66/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3306 - accuracy: 0.8642 - val_loss: 0.3567 - val_accuracy: 0.8569
Epoch 67/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3305 - accuracy: 0.8651 - val_loss: 0.3554 - val_accuracy: 0.8554
Epoch 68/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3304 - accuracy: 0.8632 - val_loss: 0.3565 - val_accuracy: 0.8576
Epoch 69/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3302 - accuracy: 0.8643 - val_loss: 0.3560 - val_accuracy: 0.8584
Epoch 70/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3303 - accuracy: 0.8640 - val_loss: 0.3561 - val_accuracy: 0.8591
Epoch 71/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3297 - accuracy: 0.8655 - val_loss: 0.3593 - val_accuracy: 0.8538
Epoch 72/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3304 - accuracy: 0.8617 - val_loss: 0.3570 - val_accuracy: 0.8573
Epoch 73/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3294 - accuracy: 0.8651 - val_loss: 0.3572 - val_accuracy: 0.8584
Epoch 74/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3298 - accuracy: 0.8645 - val_loss: 0.3576 - val_accuracy: 0.8580
Epoch 75/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3296 - accuracy: 0.8651 - val_loss: 0.3552 - val_accuracy: 0.8584
Epoch 76/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3294 - accuracy: 0.8645 - val_loss: 0.3575 - val_accuracy: 0.8561
Epoch 77/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3299 - accuracy: 0.8642 - val_loss: 0.3550 - val_accuracy: 0.8599
Epoch 78/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3291 - accuracy: 0.8640 - val_loss: 0.3564 - val_accuracy: 0.8584
Epoch 79/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3294 - accuracy: 0.8640 - val_loss: 0.3555 - val_accuracy: 0.8576
Epoch 80/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3291 - accuracy: 0.8638 - val_loss: 0.3566 - val_accuracy: 0.8591
Epoch 81/100
536/536 [==============================] - 3s 5ms/step - loss: 0.3287 - accuracy: 0.8664 - val_loss: 0.3551 - val_accuracy: 0.8550
Epoch 82/100
536/536 [==============================] - 4s 7ms/step - loss: 0.3288 - accuracy: 0.8643 - val_loss: 0.3557 - val_accuracy: 0.8561
Epoch 83/100
536/536 [==============================] - 4s 7ms/step - loss: 0.3281 - accuracy: 0.8656 - val_loss: 0.3570 - val_accuracy: 0.8565
Epoch 84/100
536/536 [==============================] - 3s 6ms/step - loss: 0.3283 - accuracy: 0.8655 - val_loss: 0.3575 - val_accuracy: 0.8591
Epoch 85/100
536/536 [==============================] - 3s 6ms/step - loss: 0.3281 - accuracy: 0.8668 - val_loss: 0.3575 - val_accuracy: 0.8603
Epoch 86/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3280 - accuracy: 0.8649 - val_loss: 0.3544 - val_accuracy: 0.8614
Epoch 87/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3279 - accuracy: 0.8645 - val_loss: 0.3550 - val_accuracy: 0.8626
Epoch 88/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3274 - accuracy: 0.8638 - val_loss: 0.3550 - val_accuracy: 0.8610
Epoch 89/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3275 - accuracy: 0.8643 - val_loss: 0.3553 - val_accuracy: 0.8576
Epoch 90/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3275 - accuracy: 0.8632 - val_loss: 0.3550 - val_accuracy: 0.8618
Epoch 91/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3271 - accuracy: 0.8640 - val_loss: 0.3541 - val_accuracy: 0.8569
Epoch 92/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3272 - accuracy: 0.8645 - val_loss: 0.3567 - val_accuracy: 0.8588
Epoch 93/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3269 - accuracy: 0.8642 - val_loss: 0.3541 - val_accuracy: 0.8603
Epoch 94/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3270 - accuracy: 0.8642 - val_loss: 0.3559 - val_accuracy: 0.8565
Epoch 95/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3269 - accuracy: 0.8640 - val_loss: 0.3567 - val_accuracy: 0.8569
Epoch 96/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3271 - accuracy: 0.8627 - val_loss: 0.3529 - val_accuracy: 0.8614
Epoch 97/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3266 - accuracy: 0.8649 - val_loss: 0.3544 - val_accuracy: 0.8629
Epoch 98/100
536/536 [==============================] - 3s 6ms/step - loss: 0.3267 - accuracy: 0.8636 - val_loss: 0.3551 - val_accuracy: 0.8603
Epoch 99/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3267 - accuracy: 0.8643 - val_loss: 0.3542 - val_accuracy: 0.8584
Epoch 100/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3263 - accuracy: 0.8653 - val_loss: 0.3553 - val_accuracy: 0.8565

In [17]:
!nvidia-smi

Wed Jul 13 07:21:36 2022
+-----------------------------------------------------------------------------+
| NVIDIA-SMI 460.32.03    Driver Version: 460.32.03    CUDA Version: 11.2     |
|-------------------------------+----------------------+----------------------+
| GPU  Name        Persistence-M| Bus-Id        Disp.A | Volatile Uncorr. ECC |
| Fan  Temp  Perf  Pwr:Usage/Cap|         Memory-Usage | GPU-Util  Compute M. |
|                               |                      |               MIG M. |
|===============================+======================+======================|
|   0  Tesla T4            Off  | 00000000:00:04.0 Off |                    0 |
| N/A   75C    P0    33W /  70W |   1858MiB / 15109MiB |      0%      Default |
|                               |                      |                  N/A |
+-------------------------------+----------------------+----------------------+

+-----------------------------------------------------------------------------+
| Processes:                                                                  |
|  GPU   GI   CI        PID   Type   Process name                  GPU Memory |
|        ID   ID                                                   Usage      |
|=============================================================================|
+-----------------------------------------------------------------------------+

In [18]:
!nvidia-smi -L

GPU 0: Tesla T4 (UUID: GPU-4116e9cf-ad78-f52f-cd0c-552480b31443)

In [19]:
!/usr/local/cuda/bin/nvcc --version

!nvidia-smi

nvcc: NVIDIA (R) Cuda compiler driver
Copyright (c) 2005-2020 NVIDIA Corporation
Built on Mon_Oct_12_20:09:46_PDT_2020
Cuda compilation tools, release 11.1, V11.1.105
Build cuda_11.1.TC455_06.29190527_0
Wed Jul 13 07:22:45 2022
+-----------------------------------------------------------------------------+
| NVIDIA-SMI 460.32.03    Driver Version: 460.32.03    CUDA Version: 11.2     |
|-------------------------------+----------------------+----------------------+
| GPU  Name        Persistence-M| Bus-Id        Disp.A | Volatile Uncorr. ECC |
| Fan  Temp  Perf  Pwr:Usage/Cap|         Memory-Usage | GPU-Util  Compute M. |
|                               |                      |               MIG M. |
|===============================+======================+======================|
|   0  Tesla T4            Off  | 00000000:00:04.0 Off |                    0 |
| N/A   75C    P0    33W /  70W |   1858MiB / 15109MiB |      0%      Default |
|                               |                      |                  N/A |
+-------------------------------+----------------------+----------------------+

+-----------------------------------------------------------------------------+
| Processes:                                                                  |
|  GPU   GI   CI        PID   Type   Process name                  GPU Memory |
|        ID   ID                                                   Usage      |
|=============================================================================|
+-----------------------------------------------------------------------------+

In [22]:
# Part 3 - Making the predictions and evaluating the model

# Predicting the Test set results
y_pred = classifier.predict(X_test)
y_pred = (y_pred > 0.5)

In [23]:
# Making the Confusion Matrix
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)

# Calculate the Accuracy
from sklearn.metrics import accuracy_score
score=accuracy_score(y_pred,y_test)

In [24]:
print(score)
print(cm)

0.863
[[1532   63]
 [ 211  194]]